p {
    color: red;
}

#titulo2{
    color: black;
}

.rosa{
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#joaquim{
    background-color: aqua;
}

